[tool.poetry]
name = "batconf"
version = "0.1.2"
description = "Application configuration tool from the BAT project"
authors = ["Lundy Bernard <lundy.bernard@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
PyYAML = "^5.4.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
