[tool.poetry]
name = "batconf"
version = "0.1.4"
description = "Application configuration tool from the BAT project"
authors = ["Lundy Bernard <lundy.bernard@gmail.com>", "Lauren Moore"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
PyYAML = "^5.4.1"

[tool.poetry.dev-dependencies]
pytest = "*"
mypy = "*"
types-PyYAML = "*"

[build-system]
requires = ["poetry-core>=1.1.13"]
build-backend = "poetry.core.masonry.api"
