# This workflow will install Python dependencies,
# run tests and lint with a single version of Python
# For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions


name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    # Run nightly at 12am UTC
    - cron: '0 0 * * *'

jobs:
  build:

    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: [
          '3.10', '3.11', '3.12', '3.13', '3.13t', '3.14', '3.14t',
        ]
        install-opts: [ '', '[yaml]' ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        # Include extra tests for legacy toml package
        include:
          - python-version: '3.10'
            install-opts: '[toml]'
            os: 'ubuntu-latest'

          - python-version: '3.10'
            install-opts: '[toml]'
            os: 'macos-latest'

          - python-version: '3.10'
            install-opts: '[toml]'
            os: 'windows-latest'

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --group dev 

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. 
          flake8 . --count --exit-zero --statistics

      - name: Unit Tests
        run: |
          pytest batconf

      - name: Install the module
        run: |
          pip install .${{ matrix.install-opts }}

      - name: Integration Tests
        run: |
          pytest --no-cov tests

      - name: Type checking with mypy
        run: |
          mypy batconf
          mypy tests
